<div class="footer-cont" fxLayout="row wrap">
  <div
    class="logo-cont"
    fxFlex.xs="100%"
    fxFlex.sm="100%"
    fxFlex.md="16%"
    fxFlex.lg="16%"
  >
    <img src="{{logoW}}" alt="Arch White" (click)="goToHome()" />
  </div>
  <div
    class="links-col"
    fxFlex.xs="100%"
    fxFlex.sm="100%"
    fxFlex.md="16%"
    fxFlex.lg="16%"
  >
    <a (click)="goToPortfolio()">Portfolio</a>
  </div>
  <div
    class="links-col"
    fxFlex.xs="100%"
    fxFlex.sm="100%"
    fxFlex.md="16%"
    fxFlex.lg="16%"
  >
    <a (click)="goToAbout()">About Us</a>
  </div>

  <div
    class="links-col"
    fxFlex.xs="100%"
    fxFlex.sm="100%"
    fxFlex.md="16%"
    fxFlex.lg="16%"
  >
    <a (click)="goToContact()">Contact</a>
  </div>
  <div
    class="btn-col"
    fxFlex.xs="100%"
    fxFlex.sm="100%"
    fxFlex.md="36%"
    fxFlex.lg="36%"
  >
    <button (click)="goToPortfolio()">See Our Portfolio</button>
  </div>
</div>
