.team-cont {
  padding: 5% 7% 5% 10%;
}

.team-cont .title-col {
  width: 100%;
}

@media screen and (min-width: 800px) {
  .team-cont .title-col {
    width: 50%;
  }
}

.team-cont .title-col h3 {
  font-size: 56px;
  font-weight: 300;
  letter-spacing: -0.2rem;
  padding-bottom: 10px;
  padding-right: 50%;
}

.team-cont .members-col {
  width: 100%;
}

@media screen and (min-width: 757px) {
  .team-cont .members-col {
    justify-content: space-evenly !important;
  }
}

@media screen and (min-width: 800px) {
  .team-cont .members-col {
    width: 40%;
  }
}

.team-cont .members-col .member-card {
  width: 100%;
}

@media screen and (min-width: 800px) {
  .team-cont .members-col .member-card {
    width: 40%;
  }
}

.team-cont .members-col .member-card .card-col {
  width: 350px;
  margin-right: 35px;
  margin-bottom: 50px !important;
}

.team-cont .members-col .member-card .card-col img {
  width: 350px;
}

.team-cont .members-col .member-card .card-col h3 {
  width: 250px;
  padding-top: 15px;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 5px;
}

.team-cont .members-col .member-card .card-col p {
  font-size: 16px;
  width: 250px;
  margin-bottom: 10px;
}

.team-cont .members-col .member-card .card-col i {
  cursor: pointer;
  color: #000000;
}
