
// --------------------- Contact Details  section -----------------
.contact-details-cont {
    padding: 5% 7% 5% 10%;
    .title-col {
        @media screen and (min-width:800px){
            width: 50%;
        }
        widows: 100%;
        h3 {
            font-size: 56px;
            font-weight: 300;
            letter-spacing: -0.2rem;
            padding-bottom: 20px;
            padding-right: 50%;
        }
    }
    .info-cont {
        @media screen and (min-width:800px){
            width: 50%;
        }
        widows: 100%;
       
    }
}