<div class="top-section-cont" fxLayout="row wrap">
    <div class="img-col" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50%" fxFlex.lg="50%" >
        <img src="{{topContactD}}" alt="Contact">
    </div>
    <div class="text-col" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50%" fxFlex.lg="50%" >
        <h1>Contact</h1>
        <h3>Tell us about your project</h3>
        <p>We’d love to hear more about your project. Please, leave a message below or give us a call. We have two offices, one in Texas and one in Tennessee. If you find yourself nearby, come say hello!</p>
    </div>
    
    </div>